table.jobs {
	th.identifier {
		@extend %before-icon;
		&:before {
			background-image: url($icons + 'F7F7F7/dots-three-horizontal.svg');
		}
	}
}

table.jobs tbody {
	tr td {
		transition: all .25s;
		background-color: transparent;
		width: 20%;

		a {
			transition: all .25s;
			opacity: 1;
		}
	}
	tr:hover td,
	tr:focus td {
		background-color: rgba(255, 255, 255, 0.1);

		a {
			opacity: 0.9;
		}
	}
	td.identifier {
		@extend %before-icon;
		color: $color--white;
		width: 40%;
	}
	tr.successful td.identifier {
		color: $color--status--on;
		&:before {
			background-image: url($icons + '27AE60/check.svg');
		}
	}
	tr.failed td.identifier {
		color: $color--status--off;
		&:before {
			background-image: url($icons + 'E74C3C/circle-with-cross.svg');
		}
	}
	tr.busy td.identifier {
		&:before {
			background-image: url($icons + 'F7F7F7/hour-glass.svg');
		}
	}
	td.identifier a {
		color: inherit;
	}
}