table.jobs {
	width: 100%;
	text-align: left;

	td, th {
		padding: 0.5em 0.25em;
	}

	th {
		border: 0;
		background-color: rgba(0, 0, 0, 0.25);
	}
}

table.jobs tbody {
	tr td {
		width: 50%;
		border-bottom: 1px solid rgba(0,0,0,0.1);

		&:first-of-type {
			border-right: 2px solid rgba(0,0,0,0.1);
		}
	}

	tr.successful td.identifier {
		color: $color--status--on;
	}
	tr.failed td.identifier {
		color: $color--status--off;
	}
	tr.busy td.identifier {
		color: $color--white;
	}

	td.identifier:before {
		content: ' \25CF';
		font-size: 1em;
		margin-right: 1em;
		color: inherit;
	}
	td.identifier a {
		color: inherit;
	}
}