.job--output {
	border: 2px solid #f7f7f7;
	padding: 1em;
	margin: 1em;
	max-width: 80em;
	animation: fadeInUp .25s;

	@include mq {
		margin: 2em auto;
		padding: 2em;
	}

	h2 {
		margin-top: 2em;
	}
	h1 {
		font-size: 1.25em;

		strong {
			transition: color .25s;
			display: block;
		}

		@include mq {
			font-size: 2em;

			strong {
				display: inline;
			}
		}
	}
	table.meta tr:last-of-type td:last-of-type {
		transition: background-color .25s;
	}

	&.failed {
		h1 strong {
			color: $color--status--off;
		}
		table.meta tr:last-of-type td:last-of-type {
			background-color: $color--status--off;
		}
	}
	&.successful {
		h1 strong {
			color: $color--status--on;
		}
		table.meta tr:last-of-type td:last-of-type {
			background-color: $color--status--on;
		}
	}

	h1 {
		font-weight: 400;
		text-align: center;
	}
}


.job--output table {
	width: 100%;
}

.job--output .about,
.job--output .results {
	display: block;
	margin-top: 2em;

	@include mq {
		display: inline-block;
		vertical-align: top;
	}
}
@include mq {
	.job--output .about {
		width: 40%;
	}

	.job--output .results {
		box-sizing: border-box;
		width: 60%;
		padding-left: 2em;

		table.result {
			tbody td {
				border-right: 2px solid rgba(0,0,0,0.1);

				&:last-of-type {
					border-right: 0;
				}
			}
		}
	}
}

.job--output .output--view {
	text-align: center;

	.button {
		min-width: 0px;
	}

	@include mq {
		text-align: left;
	}

	> div {
		display: inline-block;

		@include mq {
			margin-right: 2em;
		}
	}
}

.job--output .output--view .modal {
	text-align: left;
	z-index: 40;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;

	.close {
		background-color: rgba(0,0,0,0.25);
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 100%;
		display: block;
		z-index: 10;
		text-indent: 100%;
		overflow: hidden;
		white-space: nowrap;
		animation: fadeInUp .25s;
	}
	figure {
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 20;
		margin: 2em;
		border-top: 2em solid $color--white;
		background-color: rgba(0,0,0,0.9);
		color: $color--white;
		padding: 1em;
		box-shadow: 0 4px 16px rgba(0,0,0,0.1);
		animation: fadeInUp .375s;
		animation-delay: .125s;
		animation-fill-mode: both;

		@include mq {
			margin: 6em;
		}
	}
	figure pre {
		font-family: $code-font-family;
		font-size: 1em;
	}
}