body,
header,
main,
footer {
	min-width: 768px;
	transition: all .25s;
}

body {
	margin: 0;
	font-family: $base-font-family;
	font-weight: 400;
	font-size: 14px;
	line-height: 1.6em;
	background-color: $color--body;
	color: $color--white;
}

a {
	color: $color--main;
	text-decoration: none;
}

header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	padding: 1em;
	height: 4em;
	box-sizing: border-box;
	background-color: rgba(0,0,0,0.8);
	z-index: 10;

    a {
        color: $color--white;
    }

	.logo {
		margin: 0;
		font-size: 2em;
		line-height: 100%;
		padding-left: 1.5em;
		background: url('https://static.genkgo.com/branding/genkgo/logo_rondo_alt.svg') no-repeat center left;
		background-size: auto 100%;
	}
}
main {
	position: relative;
	top: 4em;
	padding: 1em;
    padding-bottom: 5em;
}
footer {
	font-size: 80%;
	position: fixed;
	bottom: 0px;
	left: 0;
	right: 0;
	background: rgba(0,0,0,0.9);
	color: $color--white;
	z-index: 10;
	width: 100%;
	text-align: center;
	padding: 0.5em 0;

	.genkgo-refferal {
		display: inline-block;
		vertical-align: middle;
		height: 1.75em;
		margin-left: 0.25em;
		position: relative;
		top: -0.125em;

		img {
			display: block;
			height: 100%;
			width: auto;
		}
	}
}