nav.main--navigation {
	position: fixed;
	z-index: 20;
	top: 0;
	right: 0;
	line-height: 4em;
	height: 4em;

	a {
		@extend %before-icon;
		color: $color--white;
		padding: 0 1em 0 1em;
		line-height: 4em;
		display: inline-block;
		vertical-align: top;
		height: 4em;
		font-weight: bold;

		span {
			display: none;
		}
		&:before {
			margin-right: 0;
		}
	}
	a.active {
		background: $color--body;
	}

	.dashboard:before {
		background-image: url($icons + 'F7F7F7/gauge.svg');
	}
	.successful:before {
		background-image: url($icons + 'F7F7F7/check.svg');
	}
	.failed:before {
		background-image: url($icons + 'F7F7F7/circle-with-cross.svg');
	}
	.busy:before {
		background-image: url($icons + 'F7F7F7/hour-glass.svg');
	}
}

@media screen and (min-width: 800px) {
	nav.main--navigation a span {
		display: inline-block;
		vertical-align: top;
	}
	nav.main--navigation a:before {
		margin-right: 0.5em;
	}
}