<a href="#" class="button" {{action 'show'}}>{{name}}</a>

{{#if displayed}}
    <div class="modal">
        <a href="#" class="close" {{action 'close'}} />
        <figure>
            <code>{{output}}</code>
        </figure>
    </div>
{{/if}}