$icons: 'entypo-plus/';

%before-icon {
	&:before {
		transition: background-image .25s;
		content: '';
		font-size: 1em;
		height: 1em;
		width: 1em;
		display: inline-block;
		vertical-align: middle;
		margin-right: 1em;
		background-position: center center;
		background-repeat: no-repeat;
		background-size: 1em;
		transform-origin: center center;
	}
}